@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;

  font-family: 'Dosis', sans-serif;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.highlight-green {
  background: linear-gradient(to bottom, transparent 65%, #4eff8a 50%);
}

.highlight-red {
  background: linear-gradient(to bottom, transparent 65%, #ff5f5f 50%);
}

.highlight-yellow {
  background: linear-gradient(to bottom, transparent 65%, #fce041 50%);
}

.background {
  background-color: #7643ff;
  background-size: 80px 80px;
  background-image: linear-gradient(transparent 40px, #fffff4 0px);
}

.card {
  background-color: #e6e6e6;
  background-size: 24px 24px;
  background-image: radial-gradient(transparent 1px, #fffff4 1px);
}
