@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;

  font-family: 'Dosis', sans-serif;
}

body {
  height: 100%;

  background-color: #6b38f6;
}

#root {
  height: 100%;
}

.background {
  background-color: #6b38f6;
  background-size: 24px 24px;
  background-image: radial-gradient(transparent 4px, #7643ff 4px);
}

.card {
  background-color: #e6e6e6;
  background-size: 24px 24px;
  background-image: radial-gradient(transparent 1px, #fffff4 1px);
}

.highlight-blue {
  background: linear-gradient(to bottom, transparent 65%, #41ebfc 50%);
}
.highlight-blue-green {
  background: linear-gradient(to bottom, transparent 65%, #41fcc8 50%);
}
.highlight-green {
  background: linear-gradient(to bottom, transparent 65%, #4eff8a 50%);
}
.highlight-red {
  background: linear-gradient(to bottom, transparent 65%, #ff5f5f 50%);
}
.highlight-yellow {
  background: linear-gradient(to bottom, transparent 65%, #fce041 50%);
}

.screenfade {
  background-color: transparent;
  background-size: 24px 24px;
  background-image: radial-gradient(transparent 18px, #7643ff 0px);
  animation: background 0.4s;
}

@keyframes background {
  0% {
    background-image: radial-gradient(transparent 0px, #7643ff 0px);
  }
  5% {
    background-image: radial-gradient(transparent 1px, #7643ff 0px);
  }
  10% {
    background-image: radial-gradient(transparent 2px, #7643ff 0px);
  }
  15% {
    background-image: radial-gradient(transparent 3px, #7643ff 0px);
  }
  20% {
    background-image: radial-gradient(transparent 4px, #7643ff 0px);
  }
  25% {
    background-image: radial-gradient(transparent 5px, #7643ff 0px);
  }
  30% {
    background-image: radial-gradient(transparent 6px, #7643ff 0px);
  }
  35% {
    background-image: radial-gradient(transparent 7px, #7643ff 0px);
  }
  40% {
    background-image: radial-gradient(transparent 8px, #7643ff 0px);
  }
  50% {
    background-image: radial-gradient(transparent 9px, #7643ff 0px);
  }
  60% {
    background-image: radial-gradient(transparent 10px, #7643ff 0px);
  }
  70% {
    background-image: radial-gradient(transparent 11px, #7643ff 0px);
  }
  80% {
    background-image: radial-gradient(transparent 12px, #7643ff 0px);
  }
  90% {
    background-image: radial-gradient(transparent 13px, #7643ff 0px);
  }
  100% {
    background-image: radial-gradient(transparent 14px, #7643ff 0px);
  }
}
